a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
}
/* header */
.header-link {
  font-size: 14px;
  line-height: 1.36;
  color: #7d7d7d;
}

/* main */
.card-name {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  color: #b4ad9e;
}
.card-title {
  font-size: 30px;
  line-height: 1.33;
  color: #626262;
}
.card-text {
  font-size: 14px;
  line-height: 1.36;
  color: #626262;
}
.button {
  font-size: 14px;
  line-height: 1.36;
  color: #626262;
}
